.eresources-main {
    display: grid;
    /*grid-template-columns: repeat(2, minmax(auto, 540px));*/
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;
    grid-template-areas: "sec_one sec_one"
                         "sec_two sec_two"
                         "sec_three sec_three"
}

.eresources-img {

    @include backImage('../images/computer-on-desk.jpg', 500px);
    margin: 0;
    opacity: 0.85;
    grid-area: sec_one;
}

.eresources-overview {
    grid-area: sec_two;
}

.eresources-overview p {
    text-align: center justify;
    padding: 0 15%;
}

.eresources-list{
    grid-area: sec_three;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    grid-column-gap: 100px;
    grid-row-gap: 30px;
    padding-bottom: 20px;
}

.eresources-article-list {
    div {
        width: 300px;
      }
       
      h2 {
        font: 400 40px/1.5 Helvetica, Verdana, sans-serif bold;
        margin: 0;
        padding: 0;
        text-align: center;
      }
       
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
       
      li {
        font: 150 15px/1.5 Helvetica, Verdana, sans-serif;
        border-bottom: 1px solid #ccc;
      }
       
      li:last-child {
        border: none;
      }
       
      li a {
        text-decoration: none;
        color: #000;
        display: block;
        width: 300px;
        text-align: center;
       
        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
      }
       
      li a:hover {
        font-size: 30px;
        background: #f6f6f6;
      }
}

@media only screen and (max-width: 540px){
    .eresources-list {
        grid-area: sec_three;
        display: grid;
        grid-template-columns: 1fr;
    }
}